<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkh.mapper.LoginSysUserMapper">
  <resultMap id="BaseResultMap" type="com.zkh.domain.LoginSysUser">
    <!--@mbg.generated-->
    <!--@Table sys_user-->
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, username, `password`, email, mobile, `status`, create_user_id, create_time, 
    shop_id
  </sql>
  <select id="selectUserPerms" resultType="string" parameterType="integer">
    SELECT
      DISTINCT sm.perms
    FROM
      sys_user_role sur
        JOIN sys_role_menu srm
        JOIN sys_menu sm ON ( sur.role_id = srm.role_id AND srm.menu_id = sm.menu_id )
    WHERE
      sur.user_id = ${userId}
      AND sm.type = 2;
  </select>
</mapper>